<!--
	Color Switch Read Test

	Main HTML File

	Developed by Richie Zhang
	For the 2016 IB Biology Internal Assessment
-->

{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<script src="{% static 'jquery-3.0.0.min.js' %}"></script>
	<script src="{% static 'ajax-csrftoken.js' %}"></script>
	<script src="{% static 'switcher.js' %}"></script>

	<title>Color Switch Read Test</title>
</head>
<body>
	<div id="introduction-wrap">
		<div class="introduction">
			<h2>Color Switch Read Test</h2>
			<p>This page will test a person's ability to read text that is flashing at different speeds.</p>
			<p>Developed by Richie Zhang for the IB Biology Internal Assessment.</p>
			<p class="flash-warning">WARNING: THIS EXPERIMENT INVOLVES FLASHING COLORS AND TEXT!</p>
		</div>

		<div class="introduction">
			<span>Name: </span>
			<input type="text" id="trial-name" />
			<br /><br />

			<span>Comments: </span>
			<textarea id="trial-comments"></textarea>
			<br />

			<span>Switching between </span>
			<input type="text" value="#ffffff" id="color1" />
			<span> &amp; </span>
			<input type="text" value="#000000" id="color2" />

			<br /><br />

			<button onclick="startSwitcher()">Start</button>
		</div>
	</div>

	<div id="instructions">
		<span><b>Instructions:</b></span>
		<span>This page will display a series of text blocks consisting of randomly generated numbers flashing at different frequencies.</span>
		<span>There are 5 stages and a control group (no flashing) that preceeds them, numbered 0 (for control) to 5. The frequencies for the control group will be randomized.</span>
		<span>Please read the numbers in each stage out loud as fast as you can and with as few pauses as possible. After reaching the end of the text block, press the right arow key or the ENTER key to proceed to the next stage.</span>
		<span>You will be recorded for this experiment in order to measure your reading time and to check your reading for errors. For ease tracking your progress through the experiment, please say your name after the recordiing starts, and after you advance to the next stage, please state the stage number (indicated at the browser tab title) before starting to read the numbers of that stage.</span>
		<span>The number blocks generated will contain a space between each group of three numbers. This is to help you keep track of your position in case you get lost. This space does not indicate a three-digit number or a pause, please read each one-digit number separately.</span>
		<span>Use the right and left arrow keys to go forward and back between stages respectively. The ENTER key also advances to the next stage.</span>
		<span style="color: #ff0000">WARNING: THIS EXPERIMENT INVOLVES FLASHING COLORS AND TEXT!</span>
		<span style="text-align:center">Press ENTER to begin...</span>
	</div>

	<div id="text"></div>
</body>
</html>
